.squareButton {
    background-color: var(--color-primary-lunar-green);
    color: #FCFCFC;
    width: 191px;
    height: 62px;
    border: 1px solid var(--color-primary-lunar-green);
    font-family: var( --titulo-p);
    font-size: 16px;
    font-weight: 400;
}

.squareButton:hover {
    background-color: var(--color-primary-avacado);
    border: 1px solid var(--color-primary-avacado);
    cursor: pointer;
}