.squareButton {
    display: flex;
    background-color: var(--color-primary-lunar-green);
    color: #FCFCFC;
    width: 476px;
    height: 62px;
    border: 1px solid var(--color-primary-lunar-green);
    font-family: var( --titulo-p);
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    background: var(--Primary-Lunar-green, #354733);
}

.squareButton:hover {
    background-color: var(--color-primary-avacado);
    border: 1px solid var(--color-primary-avacado);
    cursor: pointer;
}

.container {
    padding: 24px;
}