.container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.containerMatheus, .containerThiago {
    background-color: var(--background-color);
}

.containerNathalia, .containerVinicius {
    background-color: var(--tab-grey-color);
}

.sectionImg {
    width: 50%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionImg_IMG {
    max-width: 34%;
    max-height: 80%;
    display: flex;
    margin-bottom: 10%;
    margin-top: 10%;
    border-radius: 10px;
    background: var(--Athena-Grey, #F8F9FB);
    box-shadow: 0px 6.476px 6px 0px rgba(41, 41, 41, 0.08);
}

.sectionContent {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionContent_H1 {
    font-weight: 700;
    font-family: var(--titulo-h1);
    color: var(--color-primary-avacado);
    text-align: center;
    padding-bottom: 5%;
    font-size: 300%;
}

.sectionContent_P {
    font-family: var(--titulo-p);
    font-size: 100%;
    line-height: 24px;
    text-align: justify;
}

@media screen and (max-width: 820px) {
    .containerMatheus, .containerThiago, .containerNathalia, .containerVinicius {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }

    .sectionImg_IMG {
        max-width: 50%;
        max-height: 100%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .container {
        flex-direction: row;
    }

    .sectionContent_H1 {
        font-size: 230%;
    }

    .sectionContent_P {
        font-size: 83%;
    }
}

@media screen and (max-width: 630px) {
    .container {
        flex-direction: column;
    }

    .sectionImg_IMG {
        margin-bottom: 12%;
        margin-top: 12%;
    }

    .sectionContent_H1 {
        font-size: 150%;
    }

    .sectionContent_P {
        font-size: 76%;
        text-align: center;
    }  
}   


/* @media screen and (max-width: 602px) {
    .sectionContent_H1 {
        font-size: 150%;
    }

    .sectionContent_P {
        font-size: 70%;
    }  
} */