.containerAboutPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 2%;
}

.cotainerAboutUs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 2%;
    max-width: 35%;
}

.cotainerAboutUs img {
    max-width: 34%;
    max-height: 80%;
    border-radius: 6px;
}

.containerInfo {
    max-width: 100%;
    height: 15em;
}

.containerInfo h2 {
    margin-left: 1%;
    color: var(--color-primary-avacado);
    font-weight: bold;
}

.containerInfo p {
    color: var(--color-primary-lunar-green);
    font-weight: 400;
    padding: 3px 0;
}

.containerInfo span {
    color: var(--color-primary-accent);
    font-weight: bold;
}

@media screen and (max-width: 800px) {  
    .cotainerAboutUs {
        max-width: 320px;
        max-height: 250px;
    }

    .cotainerAboutUs img {
        max-width: 57%;
        max-height: 80%;
    }

    .containerInfo {
        max-width: 320px;
    } 

    .containerInfo h2 {
        font-size: 130%;
    }
    
    .containerInfo p {
        font-size: 86%;
        padding: 0;
    }
    
    .containerInfo span {
        font-size: 86%;
    }
}
