.navHeader {
    background-color: var(--tab-grey-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
    max-width: 100%;
}

.navHeader ul {
    font-family: var(--titulo-p);
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.navHeader li {
    list-style: none;
    padding: 16px;
}

.navHeader li:hover {
    cursor: pointer;
    color: var(--color-primary-avacado);
}

.linkPages {
    text-decoration: none;
    color: var(--color-primary-lunar-green);
}

.linkPages:hover, .linkPages:focus {
    color: var(--color-primary-avacado);
}

.menuIcon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
  
@media screen and (max-width: 770px) {
    .navHeader {
        padding: 2% 5% 2% 5%;
    }

    .navHeader ul {
        font-size: 96%;
    }
}

@media screen and (max-width: 540px) {
    .menuIcon {
        display: block;
    }

    .navHeader{
        position: relative;
    }

    .navHeader ul {
        display: none;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .navLinks {
        /* display: none; */
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        top: 100%;
        left: 0;
        background-color: var(--tab-grey-color);
        width: 100%;
        z-index: 1;
    }
    
    .showMenu {
       display: flex !important;
    }
}
