.navHeader {
    background-color: var(--tab-grey-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px;
    max-width: 100%;
}

.navHeader ul {
    font-family: var(--titulo-p);
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.navHeader li {
    list-style: none;
    padding: 16px;
}

.linkPages {
    text-decoration: none;
    color: var(--color-primary-lunar-green);
}

.linkPages:hover {
    color: var(--color-primary-avacado);
    cursor: pointer;
}

.menuIcon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
  
@media screen and (max-width: 768px) {
    .menuIcon {
        display: block;
    }

    .navHeader ul {
        font-size: 96%;
        /* display: none; */
    }
    
     .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        top: 80px;
        left: 0;
        background-color: var(--tab-grey-color);
        width: 100%;
        z-index: 1;
    }
    
    .navLinks .showMenu {
       display: flex;
    }
}