.container {
    margin: 2%;
    width: 25%;
    height: 20%;
    background-color: var(--background-color);
}

.image {
    width: 100%;
    height: 100%;
}

.title {
    color: var(--color-primary-lunar-green);
}

.price {
    color: var(--color-primary-lunar-green);
}
