.container {
    max-width: 100%;
    background-image: url(../../assets/img/footer-img.png);
    background-color: var(--color-primary-lunar-green);
    background-size: cover;
    background-repeat: no-repeat;
}

.containerInformation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 90px 100px;
}

.articleFooter { color: #fff; }

.articleFooter_H1 {
    /* border: 2px solid red; */
    font-family: var(--titulo-h1);
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 16px;
}

.articleFooter_P { 
    line-height: 24.72px;
    margin: 16px 0; 
}

.navLink {
    font-family: var(--titulo-p);
    font-size: 16px;
    font-weight: 400;
    line-height: 24.72px;  
}

.navFooter { display: flex; }

.sectionFooter {
    /* border: 2px solid lightcoral; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    list-style: none;
    padding: 0 27px;
}

.sectionFooter_H2 {
    /* border: 2px solid lightskyblue; */
    font-family: var(--titulo-h2);
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 32px;
    color: #fff;
}

.navLink {
    /* border: 2px solid darkgray; */
    text-decoration: none;
    color: #fff;
    margin-bottom: 16px;
}

.navLink:hover {
    /* background: aqua; */
    cursor: pointer;
    font-weight: 200;
}

.footerWithImg {
    /* background: brown; */
    border-top: 1px solid #DDDEA0;
    max-width: 90%;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    margin: 0 auto;
}

.footerWithImg_P {
    /* background: rebeccapurple; */
    max-width: 221px;
    text-align: center;
}

@media screen and (max-width: 820px) {
    .containerInformation {
        padding: 5%;
    }

    .containerInformation {
        max-width: 100%;
    }

    .articleFooter {
        max-width: 300px;
    }

    .articleFooter_H1 {
        font-size: 280%;
        margin-bottom: 10%;
    }
    
    .articleFooter_P, .navLink {
        font-size: 80%;
        padding: 0;
        margin: 0;
    }

    .navFooter {
        justify-content: center;
    }

    .sectionFooter {
        max-width: 100%;
        padding: 2%;
        margin: 7%;
    }

    .sectionFooter_H2 {
        font-size: 130%;
        max-height: 100px;
        padding-bottom: 20px;
    }

    .navLink {
        margin-bottom: 0;
        margin: 5px 0;
    }

    .footerWithImg_P {
        font-size: 70%;
    }
}

@media screen and (max-width: 480px) {
    .containerInformation {
        padding: 3%;
    }

    .articleFooter_H1 {
        font-size: 136%;
    }

    .navLink {
        margin: 0;
    }

    .articleFooter_P, .navLink, .footerWithImg_P {
        font-size: 70%;
    }

    .sectionFooter {
        padding: 0;
        margin: 2px 14px;
    }

    .sectionFooter_H2 {
        font-size: 90%;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 356px) {
    .articleFooter {
        margin: 25px 0;
    }

    .articleFooter_H1 {
        font-size: 140%;
    }

    .articleFooter_P, .footerWithImg_P, .navLink {
        font-size: 70%;
    }

    .containerInformation {
        flex-direction: column;
        align-items: center;
    }
}
