.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tab-grey-color);
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden;
}

.sectionPlants {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionPlants h1 {
    font-weight: 700;
    font-family: var(--titulo-h1);
    text-align: center;
    padding-bottom: 5%;
    font-size: 64px;
}

.lunarGreenText {
    color: var(--color-primary-lunar-green);
}

.avacadoText {
    color: var(--color-primary-avacado);
}

.cards {
    margin-left: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}