.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--tab-grey-color);
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden;
}

.sectionWeeks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionWeeks h1 {
    font-weight: 700;
    font-family: var(--titulo-h1);
    text-align: center;
    padding-bottom: 5%;
    font-size: 64px;
}

.lunarGreenText {
    color: var(--color-primary-lunar-green);
}

.avacadoText {
    color: var(--color-primary-avacado);
}

.cards {
    margin-left: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 905px) {
    .sectionWeeks h1 {
        font-size: 48px;
    }
}

@media screen and (max-width: 580px) {
    .sectionWeeks h1 {
        font-size: 40px;
    }
}


@media screen and (max-width: 530px) {
    .cards {
        max-width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 330px) {
    .cards {
        max-width: 80%;
    }
}

@media screen and (max-width: 320px) {
    .sectionWeeks h1 {
        font-size: 30px;
    }
}