.allProducts li {
    background-color: var(--background-color);
}

.allProducts {  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2%;
    max-width: 100%;
}

.undProducts {
    border: 1.5px solid #DDDEA0;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #0000001b;
    max-width: 30%;
    height: 52em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px;
}

.undProducts img {
    border-radius: 20px;
    margin: 26px auto;
    max-width: 100%;
}

.undProducts h1, h2, p {
    padding: 5px 5px;
    margin: 10px 8px;
}

.undProducts h1 {
    color: #354733;
    font-size: 282%;
    text-align: center;
}

.undProducts h2 {
    color: #8A9B6E;
    text-align: center;
    font-size: 150%;
}

.undProducts p {
    background-color: #FCFCFC;
    border: 1.5px solid #DDDEA0;
    color: #354733;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 100%;
    text-align: center;
}

.buttonProducts {
    border: 2px solid #354733;
    border-radius: 5px;
    margin-top: 5%;
}

.buttonProducts:hover {
    cursor: pointer;
    border: 2px solid #8A9B6E;
}