.container {
    max-height: 800px;
    width: 100%;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: flex-start;
    background: var(--Athena-Grey, #F8F9FB);
    box-shadow: 0px 6.476px 6px 0px rgba(41, 41, 41, 0.08);
    margin: 5%;
    .content {
        box-sizing: border-box;
        height: 35%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 16px 32px 32px 32px;
        gap: 24px;
        h1, h2, p {
            margin: 0;
            padding: 0;
        } 
    }
}

.image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.name {
    font-size: 24px;
    font-family: var(--titulo-h2);
    color: var(--color-primary-lunar-green);
}

.price {
    font-size: 16px;
    font-family: var(--titulo-p);
    color: var(--color-primary-lunar-green);
}

.textCard {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.discountDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.discount {
    font-size: 16px;
    font-family: var(--titulo-p);
    color: var(--Dark-gray, #AFB2AA);
    line-height: 154.5%; 
    text-decoration-line: line-through;
    font-weight: 400;
}

