:root {
  --titulo-h1: 'EB Garamond', serif;
  --titulo-h2: 'Lato', sans-serif;
  --titulo-p: 'Raleway', sans-serif;

/*        ---   Colors  ---           */
  --color-primary-lunar-green: #354733;
  --color-primary-avacado: #8A9B6E;
  --color-primary-accent: #DDDEA0;
  --background-color: #FCFCFC;
  --tab-grey-color: #F0F1EE;
  --text-white: #FFFFFF;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: var(--titulo-h1);
}

h2 {
  font-family: var(--titulo-h2);
}

p {
  font-family: var(--titulo-p);
}

