*{
    padding: 0;
    margin: 0;
}

.container2{
    display: flex;
    background-color: var(--tab-grey-color);
}

.image{
    width: 100%;
    height: 100%;
    padding-top: 241px;
    padding-left: 100px;
    padding-bottom: 239px;
}

.ImagePlant{
    width: 752px;
    height: 690px;
    top: 100px;
    opacity: 90%;
}

.containerContent2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding-left: 82px;
    padding-right: 100px;
    padding-top: 223px;
}

.title{
    font-size: 64px;
    margin-bottom: 16px;
}

.label{
    display: flex;
    gap: 10px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.label > button > span{
    color: #158212;
}

.label > :first-child {
    border-color: #83E281;
    background-color: #F6FFF6;
    padding: 8.1px 14.62px;
}


.label > :nth-child(2) {
    border-color: #83E281;
    background-color: #F6FFF6;
    padding: 8.1px 14.62px;
}

span{
    font-family: var(--titulo-p);
}

ul{
    padding-left: 0px;
    list-style: none;
    font-size: 16px;
}

ul li{
    padding-left: 15px;
    list-style: none;
    font-size: 16px;
}

.bull{
    padding: 0px 11px 0px 0px;
}

.sub{
    font-size: 24px;
    color: #AFB2AA;
}

.Title{
    font-family: var(--titulo-h2);
    font-size: 24px;
}

.price{
    color: black;
    margin-bottom: 24px;
}

.button{
    display: flex;
    z-index: 1;
    padding-bottom: 24px;
    padding-left: 0%;
}

.features{
    font-size: 24px;
    padding-bottom: 24px;
}

.topics{
    font-family: var(--titulo-p);
    font-size: 16px;
    padding-top: 24px;
    line-height: 24.72px;
}

.description{
    font-size: 24px;
    line-height: 24.72px;
}

.descriptionContent{
    font-size: 16px;
    margin-top: 24px;
}